body {
    background-color: rgb(200, 242, 247);
  }

h1{
  color: beige;
}

header{
  text-align: center;
  background-color: rgb(53, 65, 61);
}

.calculator{

  background-color: bisque;
  min-width: 400px;

  margin: 0 auto;
  padding: 20%;

}

#screen {
  background-color: rgb(255, 255, 255);
  border-color: rgb(59, 104, 76);
  border-width: 10px;
  margin: 5%;
  color: rgb(0, 0, 0);
  font-weight: bold;
}