body {
    background-color: rgb(200, 242, 247);
  }

h1{
  color: beige;
}

header{
  text-align: center;
  background-color: rgb(53, 65, 61);
}

.calculator{

  background-color: bisque;
  min-width: 400px;

  margin: 0 auto;
  padding: 20%;

}

#screen {
  background-color: rgb(250, 234, 234);
  border-color: rgb(176, 157, 73);
  border-width: 3px;
  margin: 5%;
  color: black;
  font-weight: bold;
}